---
title: ellen galperin
---

<div id="main">
  <div id="leftBar" class="main"></div>

  <div id="content" class="inner">

    <div id="header">
      <h1 id="title1">Hello</h1>
      <h2 id="title2">my name is</h2>
    </div>

    <div id="bod">
      <h1 id="title3">ellen galperin</h1>

      <h2 id="title4">programmer . film maker . project manager . superhero enthusiast</h2>

      <div id="about">
        <p>Ellen graduated with a degree in Computer Science and a minor in Film and Media studies at Lafayette College in spring 2015. Currently she is resides in New York City and is working for <a href="http://www.thoughtworks.com/">ThoughtWorks</a> as a developer. When she is not playing Legend of Zelda games or binging on Netflix, she can be found exploring the New York food scene.</p>
      </div>

      <div id="contact">
        <a href="mailto:galperie@lafayette.edu"><img src="images/mail.png" alt="email"></a>
        <a href="https://www.linkedin.com/pub/ellen-galperin/66/aa4/370"><img src="images/linkedin.png" alt="LinkedIn"></a>
        <a href="https://twitter.com/8bytewonder"><img src="images/twitter.png" alt="Twitter"></a>
      </div>

      <div id="links">
        <img src="images/about.png" id="yellowcircle" class="circle" alt="About">
        <img src="images/contact.png" id="redcircle" class="circle" alt="Contact">
        <a href="work.html"><img src="images/work.png" class="circle" alt="Work"></a>
        <a target="_blank" href="https://dl.dropboxusercontent.com/u/24477311/galperin_resume.pdf"><img src="images/resume.png" class="circle" alt="Resume"></a>

      </div>
    </div>

    <div id="footer">
      <div id="foot">Ellen Galperin &copy; HTML5 | CSS3 | JQUERY </div>
    </div>

  </div>
  <div id="rightBar" class="main"></div>
</div>